<div class="container">
  <h2>App title</h2>

  <p [appStyle]="'red'" [dStyle]="{ border: '1px solid red', borderRadius: '5px', color: 'red' }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, repudiandae.</p>
  <p [appStyle]="'blue'" [dStyle]="{ border: '1px solid blue', borderRadius: '5px', color: 'blue' }">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, repudiandae.</p>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>
  <p class="wrap" *appIfnot="!isVisible">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, repudiandae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, repudiandae.
  </p>
</div>
