/* You can add global styles to this file, and also import other style files */

.posts {
  display: flex;
}

.post {
  width: 50%;
  padding: 0 1rem;

  &__wrap {
    height: 100%;
    padding: 1rem;
    border: 1px dashed #ccc;
  }

  &__block {
    margin: 20px 0;
  }
}
